# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Zitga-Test.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Admins\Desktop\Unity\Zitga-Test\.idea\.idea.Zitga-Test\.idea/dataSources/
/dataSources.local.xml
